<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

    <title>AstroComics | Comic Store</title>
</head>

<body>

    <header>
        <div id="astro-comics-logo">
            <img src="img/astrocomics.png" alt="AstroComics logo">
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="container-fluid">>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Buscar productos" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
            
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Productos</a></li>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="#">X</a>
                            </li>
                        </ul>
                    <li>
                        <a href="#">Nosotros</a>
                    </li>
                    <li>
                        <a href=""></a>
                    </li>
                    <li>
                        <a href=""></a>
                    </li>
                    <li>
                        <a href=""></a>
                    </li>
                </ul>
            </div>

        </nav>

        <section class="banner">
            <img src="" alt="">
        </section>

    </header>

</body>
</html>