<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

    <title>AstroComics | Comic Store</title>
</head>

<body>

    <header>
        <div id="astro-comics-logo">
            <img src="img/astrocomics.png" alt="AstroComics logo">
        </div>

        <nav class="nav">
            
            <div>
                <ul>
                    <li>
                        <a href="#">Productos</a>
                            <ul>
                                <li><a href="#">Producto 1</a></li>
                            </ul>
                    </li>
                    <li>
                        <a href="#">Nosotros</a>
                    </li>
                    <li>
                        <a href=""></a>
                    </li>
                    <li>
                        <a href=""></a>
                    </li>
                    <li>
                        <a href=""></a>
                    </li>
                </ul>
            </div>

        </nav>

        <section class="banner">
            <img src="" alt="">
        </section>

    </header>

</body>
</html>