<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <!--Navigation Bar-->
    <div class="navbar">
        <div class="logo">
            <img src="img/astrocomics.png" alt="AstroComics logo" width="350px">
        </div>
        <nav>
            <ul>
                <li><a href="productDetail.html">PRODUCTOS</a></li>
                <li><a href="">NOSOTROS</a></li>
            </ul>
        </nav>
        
        <img class="icon" src="img/contact.svg" alt="Contact icon" width="30px" height="30px">
        <img class="icon" src="img/user.svg" alt="User icon" width="30px" height="30px">
        <img class="icon" src="img/cart.svg" alt="Cart icon" width="30px" height="30px">
        
    </div>

   
</body>
</html>