<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <title>AstroComics | Comic Store</title>

</head>

<body>

<!--Header-->
    <div class="container">

        <!--Navigation Bar-->
        <div class="navbar">
            <div class="logo">
                <!-- <img src="img/astrocomics-logo.png" alt="AstroComics logo" width="125"> -->
            </div>
            <nav>
                <ul id="menuItems">
                    <li><a href="products">PRODUCTOS</a></li>
                    <li><a href="">NOSOTROS</a></li>
                </ul>
            </nav>
            <!-- <img class="icon" src="img/contact.svg" alt="Contact icon" width="30px" height="30px">
            <img class="icon" src="img/user.svg" alt="User icon" width="30px" height="30px"> -->
            <a href="/product-cart"><img class="icon" src="img/cart.svg" alt="Cart icon" width="30px" height="30px"></a>

            <img src="img/menu.svg" alt="Menu icon" width="30px" height="30px" class="menu-icon" onclick="menuToggle()">
        
        </div>
    </div>
<!-- Single Product -->
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="img/vendetta.jpg" alt="V de Vendetta cover" width="100%" id="productImg">

            <div class="small-img-row">
                <div class="small-img-col">
                    <img src="img/ven1.jpg" alt="V de Vendetta interior" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="img/ven2.jpg" alt="V de Vendetta interior" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="img/ven3.jpg" alt="V de Vendetta interior" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="img/ven4.jpg" alt="V de Vendetta interior" width="100%" class="small-img">
                </div>
            </div>
        </div>
        <div class="col-2">
            <p>Comic</p>
            <h1>V de Vendetta</h1>
            <h4>$2500</h4>

            <select>
                <option>Volumen</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            
                <input type="number" value="1">
                <a href="" class="btn">Agregar al carrito</a>

                <h3>Argumento</h3><br>
                <p>La historia se centra en Light Yagami, uno de los mejores estudiantes de todo Japón que lleva una vida demasiado aburrida para sus estándares, y que juzga al mundo por estar podrido. Todo cambia radicalmente cuando se topa con un cuaderno (el que da nombre a la serie) que confiere poderes sobrenaturales a su portador: si se escribe el nombre de una persona y se visualiza mentalmente su rostro, esta morirá en la forma deseada (o de un ataque al corazón si no se especifica). Cuando Light confirma que es cierto, decide utilizarlo para matar a todo aquel que está corrompiendo al mundo, para liberarlo de toda maldad. Pronto descubrirtá el origen del cuaderno, quién era su anterior portador, y la trama de consecuencias que sus acciones desencadenarán. Por ejemplo, la aparición de L, un detective decidido a atraparlo y descubrir su verdadera identidad.</p>
            </select>
        </div>
    </div>
</div>

<!-- Title -->
<div class="small-container">
    <div class="row row-2">
        <h2>Productos Relacionados</h2>
        <a href="/products">Ver más</a>
    </div>
</div>


<!--All Products-->
<div class="small-container">

    <div class="row">

        <!--Producto 1-->
        <div class="col-4">
            <a href="/watchmen"><img src="img/watchmen.jpg" alt="Watchmen cover"></a>
            <h4>Antes de Watchmen</h4>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p>$3400.00</p>
        </div>

        <!--Producto 2-->
        <div class="col-4">
            <a href="/spawn"><img src="img/spawn.jpg" alt="Spawn cover"></a>
            <h4>Spawn Resurrección</h4>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
            </div>
            <p>$2300.00</p>
        </div>

        <!--Producto 3-->
        <div class="col-4">
            <a href="/kingdom"><img src="img/kingdom-come.jpg" alt="Kingdom Come cover"></a>
            <h4>Kingdom Come</h4>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>$2700.00</p>
        </div>

        <!--Producto 4-->
        <div class="col-4">
            <a href="/invincible"><img src="img/invincible.jpg" alt="Invincible cover"></a>
            <h4>Invincible</h4>
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>$1900.00</p>
        </div>
    </div>

</div>
<!-- All Products -->

<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <div class="app-logo">
                    <img src="img/brand-placeholder.png" alt="">
                    <img src="img/brand-placeholder.png" alt="">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="img/brand-placeholder.png" alt="">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful links</h3>
                <ul>
                    <li>Productos</li>
                    <li>Mi Cuenta</li>
                    <li>Carrito</li>
                    <li>Contacto</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Nosotros</h3>
                <ul>
                    <li>Iván</li>
                    <li>Laura</li>
                    <li>Maxi</li>
                    <li>asdfg</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2022 - Chorizo</p>
    </div>
</div>

<!-- Menu Toggle -->
<script>
    var menuItems = document.getElementById("menuItems");
    
    menuItems.style.maxHeight = "0px";

    function menuToggle(){
        if(menuItems.style.maxHeight == "0px"){
            menuItems.style.maxHeight = "200px";
        } 
        else{
            menuItems.style.maxHeight = "0px";
        }
    }
</script>

<!-- Product Gallery -->
<script>
    var productImg = document.getElementById("productImg");
    var smallImg = document.getElementsByClassName("small-img");

    smallImg[0].onclick = function(){
        productImg.src = smallImg[0].src;
    }
    smallImg[1].onclick = function(){
        productImg.src = smallImg[1].src;
    }
    smallImg[2].onclick = function(){
        productImg.src = smallImg[2].src;
    }
    smallImg[3].onclick = function(){
        productImg.src = smallImg[3].src;
    }
</script>

</body>
</html>